* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(56, 56, 56);
    max-width: 100%;
}

#nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#info {
    color: lightgray;
    padding: 1rem;
    font-size: 1.2rem;
}

.inline-outline {
    display: inline;
    padding: 0.1em 0.3em;
    vertical-align: middle;
    font-size: 0.8em;
    outline: 1px solid grey;
}

a {
    color: rgb(85, 85, 255);
}

table,
tr {
    width: 100%;
}

button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.2rem;
    background-color: rgb(211, 211, 211);
    border: none;
    border-radius: 0;
}

input {
    margin: 0.3rem;
    padding: 0rem 1rem;
    width: calc(100% - 0.5rem);
    border-style: none;
    color: lightgray;
    text-align: left;
    background-color: rgb(56, 56, 56);
}

#timers_container {
    margin: auto;
    width: 98%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.timer_div {
    flex: 32%;
    display: block;
    margin: 0.3rem;
    outline: 0.1rem solid darkgray;
    overflow: hidden;
}

.flex_div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    justify-items: center;
    background-color: rgb(56, 56, 56);
}

.cell_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 60%;
}

.timer_tx_name {
    font-size: 1rem;
}

.timer_name {
    font-size: 2rem;
}

.cell_display {
    font-family: 'Digital-7 Mono', sans-serif;
    font-size: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 40%;
    padding: 0 1rem;
}


.cell_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timer_btn {
    width: 5rem;
    float: right;
}

.timer_btn_del {
    color: red;
}

.timer_btn_reset {
    color: orange;
}

.btn_touch {
    display: none;
}