* {
    --nav_height: 4em;
}

body {
    overflow-x: hidden;
    user-select: none;
    touch-action: none;
    touch-action: pan-y;
    margin: 0;
}

#info {
    font-size: 1.1em;
}

button {
    font-size: 1em;
    padding: 0.5em;
    margin: 0.5em;
}

#timers_container {
    justify-content: space-between;
    user-select: none;
    overflow-y: scroll;
}

.timer_div {
    height: var(--timer_height);
    flex: 32%;
    margin: 0 0.5em;
    outline: none;
    border-top: 0.3em solid dimgray;
    min-width: min(20em, 90vw);
    user-select: none;
}

.flex_div {
    margin: 0 0.4em;
    padding: 0 0.4em;
    height: var(--timer_height);
    flex: 1;
    user-select: none;
}

input {
    margin: 0;
}

.timer_tx_name {
    font-size: 1.2em;
}

.timer_name {
    font-size: 2.3em;
}

.cell_input {
    flex: 50%;
}

.cell_display {
    height: var(--timer_height);
    font-size: 3.5em;
    padding: 0;
    height: 100%;
    user-select: none;
    flex: 50%;
}

.cell_buttons {
    width: 0;
    display: none;
}

.btn_touch {
    display: initial;
    position: relative;
    z-index: -1;
    height: var(--timer_height);
    width: 50%;
    border: none;
    color: black;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
}

.timer_btn_touch_del {
    background-color: rgb(187, 31, 31);
    /* float: left; */
    transform: translate(0, -100%);
}

.timer_btn_touch_reset {
    background-color: rgb(195, 136, 28);
    /* float: right; */
    transform: translate(0, -100%);
}